# Tablas

### Categoría

1. Intrumentos de cuerda
    - guitarras
    - bajos
    - violines
    - ukeleles
2. Instrumentos de percusión
    - Baterias
    - Cajones
    - Platillos
    - Congas
3. Teclados y Electrónicos
    - Pianos digitles
    - Teclados
    - Accesorios
4. Instrumentos de Viento
    - Viento madera
        - flautas
        - Clarinetes
        - Saxofones
    - Viento metal
        - Trompetas
        - Trombones
        - Tubas
    - Accesorios
5. Accesorios
    - Calbes
    - Fundas
    - Afinadores
    - Limpieza y mantenimiento
6. Libros y Partituras
    - Teoría musical

In [ ]:
CREATE TABLE categorias (
    id INT PRIMARY KEY NOT NULL,
    nombre VARCHAR(100) NOT NULL
);

In [ ]:
INSERT INTO categorias  (id, nombre) VALUES
(1, "Cuerda"),
(2, "Percusion"),
(3, "Teclados"),
(4, "Viento"),
(5, "Accesorios"),
(6, "Libros");

### Subcategorías

In [ ]:
CREATE TABLE subcategorias (
    id INT PRIMARY KEY NOT NULL,
    nombre VARCHAR(100) NOT NULL,
    categoria_id INT NOT NULL,
    FOREIGN KEY (categoria_id) REFERENCES categorias(id)
);

In [ ]:
INSERT INTO subcategorias (id, nombre, categoria_id) VALUES
(1, "Viento madera", 4),
(2, "Viento metal", 4),
(3, "Accesorios", 4);

### Productos

CREATE TABLE productos (
    id INT PRIMARY KEY NOT NULL,
    nombre VARCHAR(100) NOT NULL,
    descripcion TEXT,
    categoria_id INT,
    precio DOUBLE,
    catidad INT,
    FOREIGN KEY (categoria_id) REFERENCES categorias(id)
);

In [ ]:
INSERT INTO productos (id, descripcion, categoria_id, precio, cantidad) VALUES
(1, "Guitarra", "Guitarra clásica", 1, 701.00, 20),
(2, "Piano", "", 3, 110.60, 15),
(3, "", "", 1, 1, 1),
(4, "", "", 1, 1, 1),
();

### Clientes

In [ ]:
CREATE TABLE clientes (
    cliente_id INT PRIMARY KEY NOT NULL,
    nombre VARCHAR(100) NOT NULL,
    correo VARCHAR(255)
);

### Pedidos

In [ ]:
CREATE TABLE pedidos (
    id INT PRIMARY KEY NOT NULL,
    cliente_id INT,
    fecha DATE,
    estado BOOLEAN,
    total DOUBLE,
    FOREIGN KEY cliente_idq REFERENCES clientes(cliente_id)
);

---

## Acciones menú

1. Comprar producto
2. Añadir producto
3. Iniciar sesión
4. Devolver producto
5. Usar cupón